In [1]:
import pandas as pd
import nltk
#nltk.download('stopwords')
#nltk.download('punkt')
#nltk.download('wordnet')
from nltk.corpus import stopwords  #stopwords
from nltk.stem import WordNetLemmatizer  
from sklearn.feature_extraction.text import TfidfVectorizer
stop_words=set(nltk.corpus.stopwords.words('english'))

In [2]:
df = pd.read_excel(r'C:\Users\zengg\Documents\2 term special project\cleandata20220127\victoriaconcerthall.xlsx')
df.head()

,review_name,review_text,review_stars_val,review_name_val,review_date
0,青木洋一,Car chair?\n\nWhere to visit?,"Rated 3.0 out of 5,",3,a year ago
1,SeAmMia Wang,a beautiful place.,"Rated 5.0 out of 5,",5,3 years ago
2,Chloe Leo,"aesthetic, af","Rated 5.0 out of 5,",5,3 years ago
3,Xin Cen,Although I have to walk a long time from the c...,"Rated 4.0 out of 5,",4,3 years ago
4,Siu Mou Hie,"Ancient and modern architecture, remembering h...","Rated 5.0 out of 5,",5,2 years ago

In [3]:
from nltk.tokenize import word_tokenize
def clean_text(headline):
      le=WordNetLemmatizer()
      word_tokens=word_tokenize(headline)
      tokens=[le.lemmatize(w) for w in word_tokens if w not in stop_words and len(w)>3]
      cleaned_text=" ".join(tokens)
      return cleaned_text
df['cleaned_text']=df['review_text'].apply(clean_text)

In [4]:
df.head()

,review_name,review_text,review_stars_val,review_name_val,review_date,cleaned_text
0,青木洋一,Car chair?\n\nWhere to visit?,"Rated 3.0 out of 5,",3,a year ago,chair Where visit
1,SeAmMia Wang,a beautiful place.,"Rated 5.0 out of 5,",5,3 years ago,beautiful place
2,Chloe Leo,"aesthetic, af","Rated 5.0 out of 5,",5,3 years ago,aesthetic
3,Xin Cen,Although I have to walk a long time from the c...,"Rated 4.0 out of 5,",4,3 years ago,Although walk long time city hall subway stati...
4,Siu Mou Hie,"Ancient and modern architecture, remembering h...","Rated 5.0 out of 5,",5,2 years ago,Ancient modern architecture remembering history

In [5]:
vect =TfidfVectorizer(stop_words=stop_words,max_features=10000)
vect_text=vect.fit_transform(df['cleaned_text'])

In [8]:
keyword=10
vocab = vect.get_feature_names()
for i, comp in enumerate(lda_model.components_):
     vocab_comp = zip(vocab, comp)
     sorted_words = sorted(vocab_comp, key= lambda x:x[1], reverse=True)[:keyword]
     print("Overall Topic "+str(i)+": ")
     for t in sorted_words:
            print(t[0],end=" ")
            print("n")

Overall Topic 0:
nice n
place n
beautiful n
concert n
building n
great n
good n
hall n
wonderful n
performance n
Overall Topic 1:
place n
beautiful n
great n
singapore n
theater n
concert n
visit n
went n
art n
architecture n

In [24]:
topic=2
from sklearn.decomposition import LatentDirichletAllocation
lda_model=LatentDirichletAllocation(n_components=topic,
learning_method='online',random_state=42,max_iter=1) 
lda_top=lda_model.fit_transform(vect_text)

In [25]:
print("Overall Document: ")
for i,topic in enumerate(lda_top[0]):
  print("Topic ",i,": ",topic*100,"%")

Overall Document:
Topic  0 :  14.975471119902247 %
Topic  1 :  69.81311529388262 %
Topic  2 :  15.21141358621513 %

In [26]:
#good review
df_good= df.loc[df['review_name_val'] >= 4]
df_good.head()

,review_name,review_text,review_stars_val,review_name_val,review_date,cleaned_text
1,SeAmMia Wang,a beautiful place.,"Rated 5.0 out of 5,",5,3 years ago,beautiful place
2,Chloe Leo,"aesthetic, af","Rated 5.0 out of 5,",5,3 years ago,aesthetic
3,Xin Cen,Although I have to walk a long time from the c...,"Rated 4.0 out of 5,",4,3 years ago,Although walk long time city hall subway stati...
4,Siu Mou Hie,"Ancient and modern architecture, remembering h...","Rated 5.0 out of 5,",5,2 years ago,Ancient modern architecture remembering history
5,ANDY HENG,"Antique building, very beautiful...","Rated 5.0 out of 5,",5,a year ago,Antique building beautiful

In [27]:
vect =TfidfVectorizer(stop_words=stop_words,max_features=10000)
vect_text_good=vect.fit_transform(df_good['cleaned_text'])

In [28]:
topic=2
from sklearn.decomposition import LatentDirichletAllocation
lda_model=LatentDirichletAllocation(n_components=topic,
learning_method='online',random_state=42,max_iter=1) 
lda_top_good=lda_model.fit_transform(vect_text_good)

In [29]:
print("Positive Document: ")
for i,topic in enumerate(lda_top_good[0]):
  print("Topic ",i,": ",topic*100,"%")

Positive Document:
Topic  0 :  65.0477866357338 %
Topic  1 :  34.952213364266186 %

In [30]:
vocab = vect.get_feature_names()
for i, comp in enumerate(lda_model.components_):
     vocab_comp = zip(vocab, comp)
     sorted_words = sorted(vocab_comp, key= lambda x:x[1], reverse=True)[:keyword]
     print("Positive Topic"+str(i)+": ")
     for t in sorted_words:
            print(t[0],end=" ")
            print("n")

Positive Topic0:
我晚上过去拍视频非常漂亮的19世纪的建筑 n
beautiful n
great n
building n
concert n
place n
theatre n
performance n
venue n
acoustic n
Positive Topic1:
我晚上过去拍视频非常漂亮的19世纪的建筑 n
nice n
place n
good n
architecture n
beautiful n
hall n
great n
concert n
lovely n

In [31]:
#bad review
df_bad= df.loc[df['review_name_val'] <= 2]
df_bad.head()

,review_name,review_text,review_stars_val,review_name_val,review_date,cleaned_text
38,Jackson Tan,Passing by one of the few Gothic buildings in ...,"Rated 1.0 out of 5,",1,2 years ago,Passing Gothic building Singapore
136,Liza Chan,Attended a concert at the Victoria Concert Hal...,"Rated 1.0 out of 5,",1,2 years ago,Attended concert Victoria Concert Hall 2019 Sa...
248,Christian Carrillo Rodriguez,Fake Imperial comfort,"Rated 1.0 out of 5,",1,3 years ago,Fake Imperial comfort
490,jiele lee,Nothing to see,"Rated 2.0 out of 5,",2,2 years ago,Nothing
582,Kim Wee Chua,They have security staff going around telling ...,"Rated 1.0 out of 5,",1,a year ago,They security staff going around telling every...

In [32]:
vect =TfidfVectorizer(stop_words=stop_words,max_features=10000)
vect_text_bad=vect.fit_transform(df_bad['cleaned_text'])

In [33]:
topic=2
from sklearn.decomposition import LatentDirichletAllocation
lda_model=LatentDirichletAllocation(n_components=topic,
learning_method='online',random_state=42,max_iter=1) 
lda_top_bad=lda_model.fit_transform(vect_text_bad)

In [34]:
print("Negative Document: ")
for i,topic in enumerate(lda_top_bad[0]):
  print("Topic ",i,": ",topic*100,"%")

Negative Document:
Topic  0 :  28.504087585682854 %
Topic  1 :  71.49591241431715 %

In [35]:
vocab = vect.get_feature_names()
for i, comp in enumerate(lda_model.components_):
     vocab_comp = zip(vocab, comp)
     sorted_words = sorted(vocab_comp, key= lambda x:x[1], reverse=True)[:keyword]
     print("Negative Topic "+str(i)+": ")
     for t in sorted_words:
            print(t[0],end=" ")
            print("n")

Negative Topic 0:
staff n
nothing n
taking n
minute n
imperial n
away n
total n
collect n
long n
stop n
Negative Topic 1:
indeed n
long n
singapore n
concert n
reflection n
attended n
gothic n
technology n
saturday n
staff n

In [36]:
#neutral review
df_neu= df.loc[df['review_name_val'] == 3]
df_neu.head()

,review_name,review_text,review_stars_val,review_name_val,review_date,cleaned_text
0,青木洋一,Car chair?\n\nWhere to visit?,"Rated 3.0 out of 5,",3,a year ago,chair Where visit
20,Tomoya Ogoshi,I didn't want to see the hall. . . Sorry. But ...,"Rated 3.0 out of 5,",3,a year ago,want hall Sorry venerable building
21,Jessica Woods,I have seen too much of this building in Europ...,"Rated 3.0 out of 5,",3,3 years ago,seen much building European country This quite...
24,Hiroshi Hasada,I went to see the F1 course.,"Rated 3.0 out of 5,",3,2 years ago,went course
46,Little RF Family,The bell clock often rings every 15 minutes .....,"Rated 3.0 out of 5,",3,5 years ago,bell clock often ring every minute crow bird area

In [37]:
vect =TfidfVectorizer(stop_words=stop_words,max_features=10000)
vect_text_neu=vect.fit_transform(df_neu['cleaned_text'])

In [38]:
topic=2
from sklearn.decomposition import LatentDirichletAllocation
lda_model=LatentDirichletAllocation(n_components=topic,
learning_method='online',random_state=42,max_iter=1) 
lda_top_neu=lda_model.fit_transform(vect_text_neu)

In [39]:
print("Neutral Document: ")
for i,topic in enumerate(lda_top_neu[0]):
  print("Topic ",i,": ",topic*100,"%")

Neutral Document:
Topic  0 :  34.76467653679213 %
Topic  1 :  65.23532346320788 %

In [40]:
vocab = vect.get_feature_names()
for i, comp in enumerate(lda_model.components_):
     vocab_comp = zip(vocab, comp)
     sorted_words = sorted(vocab_comp, key= lambda x:x[1], reverse=True)[:keyword]
     print("Neutral Topic "+str(i)+": ")
     for t in sorted_words:
            print(t[0],end=" ")
            print("n")

Neutral Topic 0:
program n
renovated n
hall n
square n
theatre n
went n
toddler n
beautiful n
course n
angle n
Neutral Topic 1:
inside n
grand n
building n
concert n
though n
space n
food n
good n
crow n
collection n